* {
    margin:0;
    box-sizing: border-box;
    padding:0;
}

nav {
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    display:flex;
    align-items: center;
}